<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Diego A. Soto">
    <link rel="stylesheet" href="/static/src/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/tgl7nhh.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="/static/lib/p5.min.js"></script>
    <script src="/static/lib/p5.sound.min.js"></script>
    <title>24hr Analog Clock</title>
</head>

<body class="bg-black">

    <header class="relative flex-col space-y-2 md:flex lg:max-w-full lg:h-[25vh]">
        <div id="sketch-container" class="absolute max-w-full lg:top-0">
            <script src="\static\sketches\nav_art.js"></script>
        </div>
        <nav class="overflow-x-clip">
            <ul class="relative z-50 grid grid-cols-[1fr_1fr] top-[22vh] sm:top-0 lg:top-[19vh] gap-2 lg:gap-3 lg:grid-cols-[repeat(6,10em)] lg:justify-items-center lg:place-content-center">
                <li class="-skew-y-2 scale-100 h-fit max-w-[10em] sm:w-[10em] px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/experience" class="inline-flex px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Contact
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        </svg>
                    </a>
                </li>
    
                <li class="justify-self-end lg:justify-self-auto lg:-skew-y-2 skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/me" class="inline-flex text-nowrap px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Home
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        </svg>
                    </a>
                </li>
    
                <li class="-skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/projects" class="inline-flex px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Projects
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        </svg>
                    </a>
                </li>
    
                <li class="justify-self-end lg:justify-self-auto lg:-skew-y-2 skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/education" class="inline-flex px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Education
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                                stroke-linejoin="round"
                                stroke-linecap="round"
                            ></path>
                        </svg>
                    </a>
                </li>
                
                <li class="-skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/experience" class="inline-flex px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Experience
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        </svg>
                    </a>
                </li>
                
                <li class="justify-self-end lg:justify-self-auto lg:-skew-y-2 skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/me" class="inline-flex text-nowrap px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">About Me
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                                stroke-linejoin="round"
                                stroke-linecap="round"
                            ></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
</body>
</html>