<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta name="author" content="Diego A. Soto">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>D. Soto</title>
</head>

<body>
    <header class = "block md:flex">
	    <figure class="w-auto md:w-1/2 md:h-1/5 lg:w-1/2">
            <image src="/static/media/dsotoClear.png">
        </figure>
        <div class="py-0 text-center lg:px-12 lg:pt-16">
            <h1 class="text-lg lg:text-4xl font-italic text-cyan-300 hover:text-lime-300">Nosce Te Ipsum | Know thyself</h1>
            <h1 class="text-lg lg:text-4xl font-italic text-cyan-300">2001 - Present</h1>
        </div>
    </header>   
    <div class="grid md:flex lg:flex lg:justify-evenly">
        <button class="rounded-sm lg:px-9 bg-cyan-300 hover:bg-neutral-950 hover:ring text-neutral-950 hover:text-cyan-300 active:ring-cyan-300" href="#">Home</button>    
        <button class="rounded-sm lg:px-9 bg-cyan-300 hover:bg-neutral-950 hover:ring text-neutral-950 hover:text-cyan-300 active:ring-cyan-300" href="#">About me!</button>
        <button class="rounded-sm lg:px-9 bg-cyan-300 hover:bg-neutral-950 hover:ring text-neutral-950 hover:text-cyan-300 active:ring-cyan-300" href="#">Experiences</button>
        <button class="rounded-sm lg:px-9 bg-cyan-300 hover:bg-neutral-950 hover:ring text-neutral-950 hover:text-cyan-300 active:ring-cyan-300" href="#">Influences</button>
        <button class="rounded-sm lg:px-9 bg-cyan-300 hover:bg-neutral-950 hover:ring text-neutral-950 hover:text-cyan-300 active:ring-cyan-300" href="#">Interactives</button>
        <button class="rounded-sm lg:px-9 bg-cyan-300 hover:bg-neutral-950 hover:ring text-neutral-950 hover:text-cyan-300 active:ring-cyan-300" href="#">Skillsets</button>
        <button class="rounded-sm lg:px-9 bg-cyan-300 hover:bg-neutral-950 hover:ring text-neutral-950 hover:text-cyan-300 active:ring-cyan-300" href="#">Philosophy</button>
        <button class="rounded-sm lg:px-9 bg-cyan-300 hover:bg-neutral-950 hover:ring text-neutral-950 hover:text-cyan-300 active:ring-cyan-300" href="#">Project Showcase</button>
    </div>
    <section class="text-md text-left text-cyan-300 py-3 inline lg:block lg:text-center">
        <p class="hover:bg-neutral-950 hover:text-fuchsia-300">Here's a bit to have to say about myself.</p>
        <p class="hover:bg-neutral-950 hover:text-fuchsia-300">
            My name is Diego A. Soto, and I'm lucky enough to be alive in the 21st century.
            Recently, I earned the oppurtunity to work with K-12 schools teaching students about programming. I'm majoring in Technological Leadership at ASU.
            So I'm a teacher by trade, and I'm a student at ASU. I ask you: are you defined only by your livelihood? your clothes? your house? your devices?
        </p>
        <p class="hover:bg-neutral-950 hover:text-fuchsia-300">
            I look around and I fear that we prioritze conformity which extends to valuing the superficial all while we've forgotten how to fear complacency, be compassionate, and ridicule hate. We are the only ones in control of our dutry, our honor, and our community.
            We each live as in a globalized world, where art and science can be distributed by anyone with a working internet connection.
            Because of this, now more than ever, we are exposed to more diverse influence than any other era of humankind has experienced... 
        </p>
        <p class="hover:bg-neutral-950 hover:text-fuchsia-300">
            Broadcasting,social media, and entertainment platorms
            are all competing for our attention. What I fear even more is that we lack the basic civility to hear each other out in a transparent, open-minded manner.
            Not only that, but that we lack any hope in ourselves... at a personal, communal, and societal level.
            And it's all for good reason: we spend time on social media because we enjoy it, we get our news from people that we trust without thinking twice about what is being summarized.
            I'm not here to judge. All I can say is that those who do not learn from history, are doomed to believe that nothing can change.
        </p>
        <p class="hover:bg-neutral-950 hover:text-fuchsia-300">
            Besides being a teacher and a student, I try to be genuine and use my time to get to know what people genuinely care about....
            but I also like to be a musician, a creator,
            a programmer, a leader, a learner, a teacher, a philosopher, a reader, a gamer, a nerd, a cinephile,<
            a pacifist, a humanist, a dreamer, an optimistic futurist... and still discovering that I can be so much more.
            <strong> I know what you're probably thinking: "Pretentious should probably be up there. Latin and a bunch of labels? Think you're deep?..."</strong> and maybe it's well deserved.
            A list of labels are one thing. Hard proofs... actions, knowledge, & exeperiences, are another.
            But if you've known me for any time at all, you know that this isn't pretend. <strong>It's me.</strong>
            Unapologetically, genuinely, just me. Why? Dive into my page and let me show you.
        </p>
    </section>

    <footer class="fixed text-sm">
        <p>&copy; 2024 Diego A. Soto All rights reserved.</p>
    </footer>
</body>

</html>
