<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1">
    <meta name="author" content="Diego A. Soto">
    <link rel="stylesheet" href="https://dsotodigital.com/static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>D. Soto</title>
</head>

<body>
    <header>
	<figure><image src="/static/media/dsotoClear.png" height = "150"></figure>
        <h1>A 21st Century Journey|2001-Present</h1>
    </header>

    <nav>
        <a href="#">About me!</a>
        <a href="#">Experiences</a>
	    <a href="#">Influences</a>
        <a href="#">Interactives</a>
	    <a href="#">Skillsets</a>
	    <a href="#">Philosophy</a>
	    <a href="#">Project Showcase</a>
    </nav>

    <section>
        <h2>"Nosce te ipsum" | "Know Thyself"</h2>
        <p>My name is Diego A. Soto, and I am a 21st century digital native, a musician, a creator,</p>
        <p>a programmer, a leader, a learner, a teacher, a philosopher, a reader, a gamer, a nerd, a cinephile,</p> 
        <p>a pacifist, a humanist, a dreamer, an optimistic futurist... and still discovering that I can be so much more.</p>
        <p>I know what you're thinking: "Pretentious should probably be up there. Latin and a bunch of labels? Think you're deep" and maybe it's well deserved"</p>
        <p>But if you've known me for any time at all, you know (hopefully) that this is me.</p>
        <p>Unapologetically, genuinely, and just me. Why? Explore my page and let me prove it.</p>
    </section>

    <footer>
        <p>&copy; 2024 D.A.S All rights reserved.</p>
    </footer>
</body>

</html>
