<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Diego A. Soto">
    <link rel="stylesheet" href="/static/src/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/tgl7nhh.css">

    <script src="/static/lib/p5.min.js"></script>
    <script src="/static/lib/p5.sound.min.js"></script>
    <title>D. Soto</title>
</head>

<body>
    

    <header class = "grid ">
	    <div id="sketch-container" class="block">
            <script src="/static/sketches/clock.js"></script>
        </div>

        <div class="py-0 justify-center lg:px-16 lg:pt-16">
            <h1 class="text-lg lg:text-3xl italic text-cyan-300 hover:text-orange-200">Nosce Te Ipsum | Know thyself</h1>
        </div>

        <figure class="w-auto md:w-1/2 md:h-1/5 lg:w-1/2">
            <image src="/static/media/dsotoClear.png">
        </figure>

    </header>

    <footer class="fixed text-sm">
        <p>&copy; 2024 Diego A. Soto All rights reserved.</p>
    </footer>
</body>

</html>
