<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta name="author" content="Diego A. Soto">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>D. Soto</title>
</head>

<body>
    <header class = "block md:flex">
	    <figure class="w-auto md:w-1/2 md:h-1/5 lg:w-1/2">
            <image src="/static/media/dsotoClear.png">
        </figure>
        <div class="lg:grid lg:place-items-center">
            <h1 class="text-lg lg:text-5xl font-semibold text-cyan-300">A 21st Century Journey|2001-Present</h1>
        </div>
    </header>

    <nav class = "bg-cyan-300 text-right rounded-xl text-grey-700 hover:bg-cyan-700">
        <a class="hover:text-cyan-300 active:ring" href="#">Home</a>
        <a class="hover:text-cyan-300 active:ring" href="#">About me!</a>
        <a class="hover:text-cyan-300 active:ring" href="#">Experiences</a>
	    <a class="hover:text-cyan-300 active:ring" href="#">Influences</a>
        <a class="hover:text-cyan-300 active:ring" href="#">Interactives</a>
	    <a class="hover:text-cyan-300 active:ring" href="#">Skillsets</a>
	    <a class="hover:text-cyan-300 active:ring" href="#">Philosophy</a>
	    <a class="hover:text-cyan-300 active:ring" href="#">Project Showcase</a>
    </nav>

    <section class="text-md text-right text-cyan-300">
        <h2>"Nosce te ipsum" | "Know Thyself"</h2>
        <p>My name is Diego A. Soto, and I am a 21st century digital native, a musician, a creator,</p>
        <p>a programmer, a leader, a learner, a teacher, a philosopher, a reader, a gamer, a nerd, a cinephile,</p> 
        <p>a pacifist, a humanist, a dreamer, an optimistic futurist... and still discovering that I can be so much more.</p>
        <p><strong> I know what you're probably thinking: "Pretentious should probably be up there. Latin and a bunch of labels? Think you're deep?..."</strong> and maybe it's well deserved.</p>
        <p>A list of labels are one thing. Hard proofs... actions, knowledge, & exeperiences, are another.</p>
        <p>But if you've known me for any time at all, you know that this isn't pretend. <strong>It's me.</strong></p>
        <p>Unapologetically, genuinely, just me. Why? Dive into my page and let me show you.</p>
    </section>

    <footer class="fixed">
        <p>&copy; 2024 D.A.S All rights reserved.</p>
    </footer>
</body>

</html>
