<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Diego A. Soto">
    <link rel="stylesheet" href="/static/src/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/tgl7nhh.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="/static/lib/p5.min.js"></script>
    <script src="/static/lib/p5.sound.min.js"></script>
    <title>D. Soto</title>
</head>

<body class="bg-black max-h-full max-w-full">

    <header class="relative flex-col space-y-4 md:flex lg:max-w-full lg:h-[25vh]">
        <div id="sketch-container" class="absolute max-w-full lg:top-0">
            <script src="\static\sketches\nav_art.js"></script>
        </div>

        <nav class="overflow-x-clip">
            <ul class="relative z-50 grid grid-cols-[1fr_1fr] top-[25vh] sm:top-0 lg:top-[20vh] gap-2 lg:gap-5 lg:grid-cols-[10em_10em_10em_10em_10em_10em] lg:justify-items-stretch lg:left-[20vw]">
                <li class="-skew-y-2 scale-100 h-fit max-w-[10em] sm:w-[10em] px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/experience" class="inline-flex px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Contact
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        </svg>
                    </a>
                </li>

                <li class="justify-self-end lg:justify-self-auto lg:-skew-y-2 skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/me" class="inline-flex text-nowrap px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Home
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        </svg>
                    </a>
                </li>

                <li class="-skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/projects" class="inline-flex px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Projects
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        </svg>
                    </a>
                </li>

                <li class="justify-self-end lg:justify-self-auto lg:-skew-y-2 skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/education" class="inline-flex px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Education
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                                stroke-linejoin="round"
                                stroke-linecap="round"
                            ></path>
                        </svg>
                    </a>
                </li>
                
                <li class="-skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/experience" class="inline-flex px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">Experience
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                        ></path>
                        </svg>
                    </a>
                </li>
                
                <li class="justify-self-end lg:justify-self-auto lg:-skew-y-2 skew-y-2 scale-100 h-fit w-[10em] min-w-36 px-[0] py-[0] border-[1px] hover:bg-cyan-900 hover:bg-opacity-50 border-[#ffa0a0] hover:border-cyan-200 hover:animate-pulse rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                    <a href="/me" class="inline-flex text-nowrap px-[25vw] py-[.10em] rounded-full font-thin font-sans italic text-xl text-[#ffa0a0] hover:bg-cyan-900 hover:bg-opacity-0 hover:text-cyan-200 hover:animate-pulse duration-300 active:scale-105">About Me
                        <svg
                            class="absolute right-1 w-8 h-6 pt-1 group-hover:translate-x-[25%] duration-300"
                            stroke="currentColor"
                            stroke-width="1"
                            viewBox="0 0 24 24"
                            fill="white"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                                stroke-linejoin="round"
                                stroke-linecap="round"
                            ></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="relative lg:grid-cols-[50vw_25vw] grid ring-1 top-[25vh] sm:top-[15vh] lg:top-[-10%] w-[90vw] sm:w-[75vw] left-[5vw] sm:left-[12.5vw] lg:left-[20vw] m-0 p-0 bg-gradient-to-t rounded-md from-[#042ead96] to-[50%] text-cyan-50">
            <p class="font-sans lg:relative lg:top-1 lg:px-2 lg:justify-self-start lg:text-2xl">I'm <span class="inline-flex text-sxl font-normal">Diego</span>, the developer of dsotodigital.<br>
            <span class="text-xl">My curiosity drives me further every day. Here, I share what I've learned on an interactive platform so that you can get to know my mindset and together, we can envision fair and innovative solutions.</span>
            </p>
            <img src="/static/media/dsotoClear.png" alt="Signed, Diego A. Soto" class="absolute lg:relative rounded-full w-[25vw] sm:max-w-[18vw] h-auto sm:right-0 -top-44 sm:-top-20 lg:top-0 lg:self-end sm:justify-self-end lg:pt-5 lg:pb-5 lg:pr-5">
        </section>

    </header>

    
    <main class="absolute top-[65%] lg:top-[35%] max-w-full">
        <div class="relative lg:top-5 grid grid-cols-[10vw_1fr_10vw]">
            <p></p>
            <pr class="rounded-sm ring-1 ring-[#071013] bg-gradient-to-b from-[#7438388d] to-slate-950 text-[#DDFFDD] to-[30%]">There's a 24hr analog clock at the top of the screen.
            <br>It's a simple way to show the time in a more interactive way.
            <br>The minutes and seconds surround the clock. Start on the `EAST` side, the `NORTH` is 1/4 of the way around the clock, and the `WEST` is 1/2 way around the clock.
            <br>On the perimeter of the hexagon, line is drawn longer with each second. The current minute is represented by a dot at the end of the counter-clockwise ticks.
            <br>As the hours pass, a new line is drawn inside of the hexagon. The first 4 hour lines appear on the upper-right segment of the clock. The next 4 appear on the upper-center segment of the clock. At noon, the first half of the day is displayed on the clock.
            </p>
            <p></p>
        </div>
    </main>

    <footer class="fixed place-content-center text-center bottom-0 bg-slate-950 w-full text-nowrap text-cyan-50 ">&copy; 2024 Diego A. Soto | All Rights Reserved.
    </footer>

</body>

</html>
